input, button{
          border-radius: 4px;
          height: 25px;
          width: 300px;
}

body{
        font-size: 150%;
        font-weight: bold;
        text-align: center;
}

#result{
  color:red;
  font-size: 120%;
}

#box1, #box2 {
  border: 1px solid black;
  padding : 5px;
}
