
  input[type="button"]
 {
 background-color:#f2f2f2;
 color: black;
 border: solid black 2px;
 width:100%
 }

 input[type="text"]
 {
 background-color:white;
 border: solid black 2px;
 width:100%;
 }
